PUBLIC_MYSQL_HOST=
PUBLIC_MYSQL_DEV_DATABASE=
PUBLIC_MYSQL_DATABASE=
PUBLIC_MYSQL_USER=
PUBLIC_MYSQL_PASSWORD=
PUBLIC_MYSQL_PORT=
PUBLIC_SITE_USER=
PUBLIC_SITE_PASSWORD=
PUBLIC_RESEND_API=
PUBLIC_RESEND_AUDIENCE_ID=