---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
import { Button } from "@/components/ui/button";
import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";
import { db } from "db";
import { accolades } from "db/schema";
import { eq } from "drizzle-orm";
import { shortenText } from "@/lib/utils";

const { locale, id } = Astro.params;
const res = await db.select().from(accolades).where(eq(accolades.id, +id!));

if (!res[0]) {
  return Astro.redirect("/admin/brands/new");
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const item = formData.get("item") as string;
  await db.update(accolades).set({ item }).where(eq(accolades.id, +id!));
  return Astro.redirect(`/admin/accolades/${id}`);
}
---

<Layout lang={locale!} title={shortenText(res[0].item!)}>
  <AdminNavbar />
  <div class="container px-8">
    <h1 class="title py-20 text-3xl">{shortenText(res[0].item!)}</h1>
    <form method="POST" class="flex flex-col items-start gap-4">
      <Label htmlFor="item">Accolade</Label>
      <Textarea name="item" className="bg-transparent text-white" required rows={10} defaultValue={res[0].item!} />
      <Button type="submit" variant="secondary">send</Button>
    </form>
  </div>
</Layout>
