---
import Layout from "@/layouts/Layout.astro";
import Title from "@/components/Title.astro";
import Grid from "@/components/Grid.astro";
import { db } from "db";
import { store } from "db/schema";
import { eq } from "drizzle-orm";
import { formatParagraph } from "@/lib/utils";

const hero = await db.select().from(store).where(eq(store.section, "hero"));

type HeroData = {
  [key: string]: string;
  siteTitle: string;
  siteDescription: string;
};

const heroData: HeroData = hero.reduce((acc, cur) => {
  acc[cur.key as string] = cur.value as string;
  return acc;
}, {} as HeroData);
---

<Layout title="Home">
  <div class="h-screen">
    <p>navbar area</p>
    <Title data={heroData} />
  </div>
  <Grid />
</Layout>
<script defer is:inline src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
