---
import Layout from "../layouts/Layout.astro";
// import { db, Comment } from "astro:db";
import { myDb } from "../../db";
import { users } from "../../db/schema";

if (Astro.request.method === "POST") {
  // parse form data
  const formData = await Astro.request.formData();
  const name = formData.get("name");
  const body = formData.get("body");
  if (typeof name === "string" && typeof body === "string") {
    // insert form data into the Comment table
    await myDb.insert(users).values({ name, body });
  }
}

// render the new list of comments on each request
const entries = await myDb.select().from(users);
---

<Layout title="Insert">
  <form method="POST" style="display: grid">
    <label for="name">name</label>
    <input id="name" name="name" />

    <label for="body">body</label>
    <textarea id="body" name="body"></textarea>

    <button type="submit">Submit</button>
  </form>

  <h2>entries</h2>

  {
    entries.map(({ name, body }) => (
      <article>
        <p>name: {name}</p>
        <p>{body}</p>
      </article>
    ))
  }
</Layout>
