---
import Layout from "@/layouts/Layout.astro";
import { db } from "db";
import { portfolio } from "db/schema";
import { splitItems } from "@/lib/utils";

const res = await db.select().from(portfolio);
const items = splitItems(res);
---

<Layout title="Item">
  <div class="container px-8">
    {
      items.map((part, index) => {
        const className = index === 1 ? "" : "inverse";
        return (
          <div class={`${className} flex`}>
            {part.map((item) => {
              const mediaArray = JSON.parse(item.media);
              const firstImage = mediaArray.length > 0 ? mediaArray[0] : "";
              return (
                <div class="p-4">
                  <p>{firstImage}</p>
                  <p class="p-4">{item.title}</p>
                </div>
              );
            })}
          </div>
        );
      })
    }
  </div>
</Layout>
