---
import Layout from "../layouts/Layout.astro";
export const prerender = "true";

const time = Date.now();
---

<Layout title="Prerendered">
  <h1>Prerendered</h1>
  <p>This page was prerendered at {new Date(time).toLocaleString()}</p>
</Layout>
