---
import { Button } from "@/components/ui/button";
---

<div class="container py-4 mx-auto">
  <Button variant="secondary"><a href="/admin">Home</a></Button>
  <Button variant="secondary"><a href="/admin/hero">Hero section</a></Button>
  <Button variant="secondary"><a href="/admin/portfolio">Portfolio section</a></Button>
  <Button variant="secondary"><a href="/admin/brands">Brands section</a></Button>
  <Button variant="secondary"><a href="/admin/accolades">Accolades section</a></Button>
  <Button variant="secondary"><a href="/admin/contact">Contact section</a></Button>
  <Button variant="secondary"><a href="/admin/pages">Legal pages</a></Button>
</div>
