---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";
import { writeFile } from "fs/promises";
import path from "path";
import { rm } from "fs/promises";
import { db } from "db";
import { portfolio } from "db/schema";
import { slugify } from "@/lib/utils";

const { locale } = Astro.params;
let filenames = [];
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const title = formData.get("title") as string;
  const content = formData.get("content") as string;
  const slug = slugify(title);
  for (const file of formData.getAll("file") as File[]) {
    const buffer = Buffer.from(await file.arrayBuffer());
    await writeFile(path.join("./public/assets/portfolio", file.name), buffer);
    filenames.push(file.name);
  }

  const contentObject = { [locale!]: content };

  try {
    await db.insert(portfolio).values({
      title,
      slug,
      content: JSON.stringify(contentObject),
      createdAt: new Date(),
      media: JSON.stringify(filenames),
    });
  } catch (e) {
    console.error(e);
    for (const filename of filenames) {
      try {
        await rm(path.join("./public/assets/portfolio", filename));
      } catch (e) {
        console.error(e);
      }
    }
    return Astro.redirect(`/${locale}/admin/portfolio/new?update=error`);
  }
  return Astro.redirect(`/${locale}/admin/portfolio/${slug}?update=success`);
}
---

<Layout lang={locale} title="New portfolio item">
  <AdminNavbar lang={locale!} />
  <div class="container px-8">
    <h1 class="py-20 text-3xl">New portfolio item</h1>
    <form method="POST" enctype="multipart/form-data" class="flex flex-col items-start gap-4">
      <Label htmlFor="title">title</Label>
      <Input type="text" name="title" required className="bg-transparent text-white" />
      <Label htmlFor="file">media</Label>
      <Input type="file" name="file" multiple accept="image/*, video/*" required className="text-black" />
      <Label htmlFor="content">description</Label>
      <Textarea name="content" className="bg-transparent text-white" rows={15} />
      <Button type="submit" variant="secondary">send</Button>
    </form>
  </div>
</Layout>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const updateStatus = urlParams.get("update");

  if (updateStatus === "success") {
    alert("Update successful!");
  } else if (updateStatus === "error") {
    alert("Update failed.");
  }
</script>
