---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
---

<Layout title="Admin">
  <div class="container px-8">
    <h1 class="title text-3xl py-20">Admin dashboard</h1>
    <AdminNavbar />
  </div>
</Layout>
