---
import Layout from "@/layouts/Layout.astro";
import AdminNavbar from "@/components/AdminNavbar.astro";
import { db } from "db";
import { pages } from "db/schema";
import { Label } from "@/components/ui/label";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import { eq, and } from "drizzle-orm";

const { locale } = Astro.params;
const res = await db.select().from(pages).where(eq(pages.lang, locale!));

const resMap = res.reduce(
  (acc, cur) => {
    acc[cur.name as string] = cur.content as string;
    return acc;
  },
  {} as Record<string, string>
);

let updateStatus;
if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    for (const [key, value] of formData.entries()) {
      await db
        .update(pages)
        .set({ content: value as string })
        .where(and(eq(pages.name, key as string), eq(pages.lang, locale!)));
    }
    updateStatus = "success";
  } catch (error) {
    console.error("Error updating data:", error);
    updateStatus = "error";
  }
  return Astro.redirect(`/${locale}/admin/pages?update=${updateStatus}`);
}
---

<Layout lang={locale!} title="Legal Pages">
  <AdminNavbar lang={locale!} />
  <div class="container px-8">
    <h1 class="title py-20 text-3xl">Legal pages</h1>
    <form method="POST" class="flex flex-col items-start gap-4">
      <Label htmlFor="cookie policy">Cookie Policy</Label>
      <Textarea name="cookie policy" className="bg-transparent text-white" rows={20} defaultValue={resMap["cookie policy"]} />
      <Label htmlFor="privacy policy">Privacy Policy</Label>
      <Textarea name="privacy policy" className="bg-transparent text-white" rows={20} defaultValue={resMap["privacy policy"]} />
      <Label htmlFor="terms of use">Terms of Use</Label>
      <Textarea name="terms of use" className="bg-transparent text-white" rows={20} defaultValue={resMap["terms of use"]} />
      <Button type="submit" variant="secondary">send</Button>
    </form>
  </div>
</Layout>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const updateStatus = urlParams.get("update");

  if (updateStatus === "success") {
    alert("Update successful!");
  } else if (updateStatus === "error") {
    alert("Update failed.");
  }
</script>
