---
import Layout from "@/layouts/Layout.astro";
import { db } from "db";
import { eq } from "drizzle-orm";
import { portfolio } from "db/schema";

const { id, locale } = Astro.params;
const data = await db.select().from(portfolio).where(eq(portfolio.slug, id!));

if (!data[0]) {
  return Astro.redirect("/");
}
---

<Layout lang={locale!} title={data[0].title!} description={data[0].content!}>
  <div class="container px-8 pb-16">
    <h1 class="title py-20 text-3xl">{data[0].title}</h1>
    <div class="my-4">
      {
        JSON.parse(data[0].media!).map((media: string, index: number) => {
          return (
            <div class="my-8">
              <img src={`/assets/portfolio/${media}`} alt={`${data[0].title}-${index + 1}`} />
            </div>
          );
        })
      }
    </div>
    <p>{JSON.parse(data[0].content!)[locale!]}</p>
  </div>
</Layout>
