---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Admin">
  <div class="container px-8">
    <h1 class="title text-3xl py-20">Admin dashboard</h1>
    <Button variant="secondary"><a href="/admin/hero">Hero section</a></Button>
    <Button variant="secondary"><a href="/admin/portfolio">Portfolio section</a></Button>
    <Button variant="secondary"><a href="/admin/brand">Brands section</a></Button>
    <Button variant="secondary"><a href="/admin/accolades">Accolades section</a></Button>
    <Button variant="secondary"><a href="/admin/contact">Contact section</a></Button>
  </div>
</Layout>
